{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="938E52F9B3F2A327B1E40BFFC27356FE" />
    <meta name="google-site-verification" content="hs27bbO_sbzCF_6Ff_DxTPHhZ86H00d0oeumKHV0rI4" />
    <meta name="description" content="Link your phone to Windows easily using aka.ms/phonelinkqrc. Follow our step-by-step guide to connect your Android or iPhone, access messages, notifications, photos, and apps directly from your PC." />
    <meta name="keywords" content="aka.ms/phonelinkqrc, link phone to Windows, Phone Link setup, Your Phone Companion, connect Android to PC, connect iPhone to Windows" />
    <meta name="robots" content="index, follow" />
    <title>Link Your Phone to Windows using aka.ms/phonelinkqrc – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
